<div style = "margin-left:20px">	
	<h1>Show Product</h1>
	<%= image_tag @product.image.url(:small) %>
	<p>
		<b>Image:</b>
		<%= @product.image %>
	</p>
	<p>
	  <b>Price:</b>
	  <%= @product.price %>
	</p>
	<p>
		<b>Description:</b>
		<%= @product.description %>
	</p>
</div>
